streamlit
langchain
langchain-openai
langchain-community
langchainhub
chromadb
google-search-results
faiss-cpu # or faiss-gpu if you have CUDA installed
tiktoken
python-dotenv
langchain-google-genai
duckduckgo-search
langchain-chroma
pypdf
google-api-python-client
langchain-google-community
